@model IndexViewModel

@{
    ViewBag.Title = "Welcome";
}

<div class=" form-group card">
    <div >
        <div  >
            <h2>Welcome, @Model.FirstName @Model.LastName</h2>
        </div>
        <div class="card-body text-center">
            <div class="mb-4">
                <img src="/images/@Model.ProfilePicturePath" alt="Profile Picture" class="rounded-circle" style="width: 150px; height: 150px;" />
            </div>

            <p class="h4 text-success mb-4">Total Balance: @Model.Balance.ToString("C")</p>
            <a asp-action="Index" asp-controller="Loan" class="btn btn-outline-primary">Apply for a Loan</a>

            <a asp-action="Transaction"  asp-controller="Transaction" class="btn btn-outline-primary">Make a Transaction</a>
        </div>
        <div class="card-footer text-center text-muted">
            <small>Secure Banking © 2025</small>
        </div>
    </div>
</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
