@using CPCoded.Models.ViewModels
@model LoanApplicationViewModel

@{
    ViewData["Title"] = "Apply for Loan";
}

<h2>Apply for Loan</h2>

<form asp-action="ApplyLoan" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="ApplicationUserId" />
    <div class="form-group">
        <label asp-for="LoanAmount" class="control-label"></label>
        <input asp-for="LoanAmount" class="form-control" id="loanAmountInput" />
        <span asp-validation-for="LoanAmount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Duration" class="control-label"></label>
        <select asp-for="Duration" class="form-control" asp-items="ViewBag.Durations" id="durationSelect"></select>
        <span asp-validation-for="Duration" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LoanType" class="control-label"></label>
        <select asp-for="LoanType" class="form-control" asp-items="ViewBag.Types"></select>
        <span asp-validation-for="LoanType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="InterestRate" class="control-label"></label>
        <input asp-for="InterestRate" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label>Total Interest</label>
        <input type="text" class="form-control" id="totalInterestInput" readonly />
    </div>
    <div class="form-group">
        <label>Total Repayment</label>
        <input type="text" class="form-control" id="totalRepaymentInput" readonly />
    </div>
    <div class="form-group">
        <input type="submit" value="Apply" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function calculateInterestAndRepayment() {
            var loanAmount = parseFloat(document.getElementById('loanAmountInput').value) || 0;
            var duration = parseInt(document.getElementById('durationSelect').value) || 0;
            var interestRate = parseFloat(document.getElementById('InterestRate').value) || 0;

            var totalInterest = loanAmount * (interestRate/ 100  * duration/12);
            var totalRepayment = loanAmount + totalInterest;

            document.getElementById('totalInterestInput').value = totalInterest.toFixed(2);
            document.getElementById('totalRepaymentInput').value = totalRepayment.toFixed(2);
        }

        document.getElementById('loanAmountInput').addEventListener('input', calculateInterestAndRepayment);
        document.getElementById('durationSelect').addEventListener('change', calculateInterestAndRepayment);

        // Initialize the calculation on page load
        calculateInterestAndRepayment();
    </script>
}
