@model MiniPCoded.Models.ViewModels.LoanApplicationViewModel

@{
    ViewData["Title"] = "ApplyLoan";
}

<h1>ApplyLoan</h1>

<h4>LoanApplicationViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ApplyLoan">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
         
            <div class="form-group">
                <label asp-for="LoanAmount" class="control-label"></label>
                <input asp-for="LoanAmount" class="form-control" />
                <span asp-validation-for="LoanAmount" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="DurationInMonths" class="form-label"></label>
                <select asp-for="DurationInMonths" class="form-control">
                    <option value="-1" class="text-center">-- Select --</option>
                    <option value="0">12</option>
                    <option value="1">24</option>
                    <option value="2">36</option>
                    <option value="3">48</option>
                    <option value="5">60</option>
                </select>
                <span asp-validation-for="DurationInMonths" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationDate" class="control-label"></label>
                <input asp-for="ApplicationDate" class="form-control" />
                <span asp-validation-for="ApplicationDate" class="text-danger"></span>
            </div>

      
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

