html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background: linear-gradient(to right, #f7f7f7, #e0e0e0);
    margin-bottom: 60px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

h1 {
    color: #000080;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

button {
    background-color: #d3d3d3;
    color: #333;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

    button:hover {
        background-color: #c0c0c0;
        transform: scale(1.05);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    max-width: 450px;
    text-align: left;
}

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
    }

    .card h2 {
        color: #000080;
        font-size: 1.6em;
        margin-bottom: 15px;
        text-align: center;
    }

    .card p {
        color: #555;
        line-height: 1.6;
        margin-bottom: 10px;
    }

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

    .form-control:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

.btn {
    background-color: #000080;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .btn:hover {
        background-color: #778899;
    }

.dd {
    margin-left: 10px;
}
.vv{
    background-color :white

}
.icon {
    border-radius: 50%;
    width:40px; 
    height:40px;

}
h2 {
    color: #000080;
    text-align: left;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}
.ll {
    border-block-color: #000080;
    
}