@model LoginViewModel;
@{
    ViewData["Title"] = "Login";
}

<div class="card">
    <h2>Login</h2>
    <form method="post" asp-action="Login" asp-controller="Account" id="registerForm">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-check form-switch dd">
            <input asp-for="RememberMe" class="form-check-input btn-lg" type="checkbox">
            <label class="form-check-label white-text">Remember me</label>
        </div>
        <div class=" text-end form-group ">
            <input id="registerBtn" class="btn btn-primary margin-top" type="submit" value="Next" disabled><div />
            <div class="text-center text-white center-text">
                <p>
                    Don't have an account? <a asp-action="RegisterStep1" asp-controller="Account" class="gray-underline fw-bold text-body">Register</a>
                </p>
            </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.getElementById("registerForm");
            const inputs = form.querySelectorAll("input[type='text'], input[type='password']");
            const registerBtn = document.getElementById("registerBtn");

            function checkInputs() {
                let allFilled = true;

                inputs.forEach(input => {
                    if (input.value.trim() === "") {
                        allFilled = false;
                    }
                });

                registerBtn.disabled = !allFilled; // Enable button only if all fields are filled
            }

            // Listen for input changes on each field
            inputs.forEach(input => {
                input.addEventListener("input", checkInputs);
            });
        });
    </script>
}