@model RegisterStep2ViewModel

@{
    ViewData["Title"] = "Register - Step 2";
}

<h1>Step 2</h1>

<form asp-action="RegisterStep2" method="post" enctype="multipart/form-data" style="width: 50%; margin: auto;">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table class="styled-table">
        <tr>
            <td><label asp-for="FirstName" class="control-label"></label></td>
            <td>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="LastName" class="control-label"></label></td>
            <td>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="Gender" class="control-label"></label></td>
            <td>
                <select asp-for="Gender" class="form-control">
                    <option value="0">Male</option>
                    <option value="1">Female</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="DateOfBirth" class="control-label"></label></td>
            <td>
                <input asp-for="DateOfBirth" class="form-control" type="date" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="CivilID" class="control-label"></label></td>
            <td>
                <input asp-for="CivilID" class="form-control" />
                <span asp-validation-for="CivilID" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="ProfilePicture" class="control-label"></label></td>
            <td>
                <input asp-for="ProfilePicture" class="form-control-file" type="file" />
                <span asp-validation-for="ProfilePicture" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center; padding: 10px;">
                <input type="submit" class="btn btn-success" value="Create" style="margin-right: 10px;" />
            </td>
        </tr>
    </table>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
