@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "All Users";
}

<h2>All Clients</h2>

<table class="table table-responsive loan-table">
    <thead>
        <tr>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>
                    <a asp-action="UserDetails" asp-route-id="@user.Id" class="btn btn-primary">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>


