
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="card-footer text-center">
    <a asp-action="AllApplications" asp-controller="Home"  class="btn btn-outline-primary">Pending Applications</a>
</div>


<div class="card-footer text-center">
    <a asp-action="AddAdmin1" asp-controller="Home" class="btn btn-outline-primary">Add Admin</a>
</div>



<div class="card-footer text-center">
    <a asp-action="ApprovedApp" asp-controller="Home" class="btn btn-outline-primary">Approved Applications</a>
    </div>

    <div class="card-footer text-center">
        <a asp-action="RejectedApp" asp-controller="Home" class="btn btn-outline-primary">Rejected Applications</a>
        </div>
