
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="card-footer text-center">
    <a asp-action="AllApplications" asp-controller="Home"  class="btn btn-outline-primary">All Applications</a>
</div>